In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'values_1': [12, 15, 14, 13, 15, 12, 16],
    'values_2': [14, 18, 16, 15, 17, 15, 18],
})
df

   values_1  values_2
0        12        14
1        15        18
2        14        16
3        13        15
4        15        17
5        12        15
6        16        18

In [3]:
df.mean(axis='columns') # axis = 1/'columns', 'go through each column in a row'

0    13.0
1    16.5
2    15.0
3    14.0
4    16.0
5    13.5
6    17.0
dtype: float64

In [4]:
df.mean(axis='rows')  # 'go through each row in a column'

values_1    13.857143
values_2    16.142857
dtype: float64