In [1]:
import pandas as pd

In [2]:
weather_dict = {
    'day': ['1/1/2022', '1/2/2022', '1/3/2022', '1/4/2022', '1/5/2022', '1/6/2022'],
    'temperature': [32,35,27,29,14,25],
    'windspeed': [6,4,6,7,7,8],
    'event': ['Sunny', 'Rain', 'Sunny', 'Sunny', 'Snow', 'Sunny'], 
    'holiday': [True, False, False, False, False, False]
}

df = pd.DataFrame(weather_dict)
df

        day  temperature  windspeed  event  holiday
0  1/1/2022           32          6  Sunny     True
1  1/2/2022           35          4   Rain    False
2  1/3/2022           27          6  Sunny    False
3  1/4/2022           29          7  Sunny    False
4  1/5/2022           14          7   Snow    False
5  1/6/2022           25          8  Sunny    False

In [3]:
# you can extract values from .shape attribute of the dataframe
rows, cols = df.shape
print(rows, cols)

6 5

In [4]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     27.000000   6.333333
std       7.293833   1.366260
min      14.000000   4.000000
25%      25.500000   6.000000
50%      28.000000   6.500000
75%      31.250000   7.000000
max      35.000000   8.000000

In [5]:
# return rows using slicing
df[2:5]  # 5 is not inclusive

        day  temperature  windspeed  event  holiday
2  1/3/2022           27          6  Sunny    False
3  1/4/2022           29          7  Sunny    False
4  1/5/2022           14          7   Snow    False

In [6]:
# this notation also prints everything:
df[:]

        day  temperature  windspeed  event  holiday
0  1/1/2022           32          6  Sunny     True
1  1/2/2022           35          4   Rain    False
2  1/3/2022           27          6  Sunny    False
3  1/4/2022           29          7  Sunny    False
4  1/5/2022           14          7   Snow    False
5  1/6/2022           25          8  Sunny    False

In [7]:
# get name of all columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event', 'holiday'], dtype='object')

In [8]:
# Note using [[]] returns a DataFrame, not a series
df[['day', 'temperature']]

        day  temperature
0  1/1/2022           32
1  1/2/2022           35
2  1/3/2022           27
3  1/4/2022           29
4  1/5/2022           14
5  1/6/2022           25

In [9]:
df.loc[[0, 1]]  # get rows 0 and 1

        day  temperature  windspeed  event  holiday
0  1/1/2022           32          6  Sunny     True
1  1/2/2022           35          4   Rain    False

In [10]:
df.loc[[0, 1], 'temperature'] # get temperature column of rows 0 and 1

0    32
1    35
Name: temperature, dtype: int64

In [11]:
df.loc[:,['temperature', 'day']]

   temperature       day
0           32  1/1/2022
1           35  1/2/2022
2           27  1/3/2022
3           29  1/4/2022
4           14  1/5/2022
5           25  1/6/2022

In [12]:
# get max temperature
df['temperature'].max()

35

In [13]:
# this condition returns a mask.
# when you use it as a filter, only rows that are set to True are returned
df['temperature'] >= 27

0     True
1     True
2     True
3     True
4    False
5    False
Name: temperature, dtype: bool

In [14]:
# "give me the rows in the df where the row's temperature in the df is greater than 27"
filt = df['temperature'] >= 27
df[filt] # same as df[df['temperature'] >= 27]

        day  temperature  windspeed  event  holiday
0  1/1/2022           32          6  Sunny     True
1  1/2/2022           35          4   Rain    False
2  1/3/2022           27          6  Sunny    False
3  1/4/2022           29          7  Sunny    False

In [17]:
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed event  holiday
1  1/2/2022           35          4  Rain    False

In [18]:
# remember, to grab multiple columns, you need to use [[]] notation
df[df['temperature'] == df['temperature'].max()][['day', 'temperature', 'holiday']]

        day  temperature  holiday
1  1/2/2022           35    False

In [21]:
df.at[1, 'temperature']

35

In [24]:
# don't forget you can submit a custom index.
# for most manipulations, you will need to set inplace=True
df.set_index(['day', 'temperature'], inplace=True)

In [25]:
df

                      windspeed  event  holiday
day      temperature
1/1/2022 32                   6  Sunny     True
1/2/2022 35                   4   Rain    False
1/3/2022 27                   6  Sunny    False
1/4/2022 29                   7  Sunny    False
1/5/2022 14                   7   Snow    False
1/6/2022 25                   8  Sunny    False

In [26]:
df.loc['1/1/2022']

             windspeed  event  holiday
temperature
32                   6  Sunny     True

In [28]:
# reset index
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event  holiday
0  1/1/2022           32          6  Sunny     True
1  1/2/2022           35          4   Rain    False
2  1/3/2022           27          6  Sunny    False
3  1/4/2022           29          7  Sunny    False
4  1/5/2022           14          7   Snow    False
5  1/6/2022           25          8  Sunny    False

In [29]:
df.values  # returns a numpy representation of df

array([['1/1/2022', 32, 6, 'Sunny', True],
       ['1/2/2022', 35, 4, 'Rain', False],
       ['1/3/2022', 27, 6, 'Sunny', False],
       ['1/4/2022', 29, 7, 'Sunny', False],
       ['1/5/2022', 14, 7, 'Snow', False],
       ['1/6/2022', 25, 8, 'Sunny', False]], dtype=object)

In [30]:
df.keys()

Index(['day', 'temperature', 'windspeed', 'event', 'holiday'], dtype='object')

In [34]:
# This sets series df['day'] to a new series that = old series w/ datetime dtype
df['day'] = pd.to_datetime(df['day'])
df.dtypes

day            datetime64[ns]
temperature             int64
windspeed               int64
event                  object
holiday                  bool
dtype: object

         day  temperature  windspeed  event  holiday
0 2022-01-01           32          6  Sunny     True
1 2022-01-02           35          4   Rain    False
2 2022-01-03           27          6  Sunny    False
3 2022-01-04           29          7  Sunny    False
4 2022-01-05           14          7   Snow    False
5 2022-01-06           25          8  Sunny    False