In [2]:
import pandas as pd

In [3]:
# each element in the list represents one column of a row
weather_data = {
    'data': ['3/1/2022', '3/2/2022', '3/3/2022'],
    'temperature': [65, 71, 72],
    'windspeed': [12, 8, 9],
    'event': ['Sunny', 'Sunny', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

       data  temperature  windspeed  event
0  3/1/2022           65         12  Sunny
1  3/2/2022           71          8  Sunny
2  3/3/2022           72          9  Sunny

In [8]:
# each element in list represents one row/dictionary
weather_data = [
    {'day': '3/1/2022', 'temperature': 65, 'windspeed': 12, 'event': 'Sunny'},
    {'day': '3/2/2022', 'temperature': 71, 'windspeed': 8, 'event': 'Sunny'},
    {'day': '3/3/2022', 'temperature': 72, 'windspeed': 9, 'event': 'Sunny'}
]

df = pd.DataFrame(weather_data)
df  # notice this looks the same as the output from the cell above

        day  temperature  windspeed  event
0  3/1/2022           65         12  Sunny
1  3/2/2022           71          8  Sunny
2  3/3/2022           72          9  Sunny